.tabs {
  &__menu {
    .item {
      background-color: #f1f5f7;
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 1rem;
      white-space: nowrap;

      &.active {
        background-color: #ced4da;
      }
    }
  }

  &__content {
    background-color: #ced4da;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    padding: 30px;
    position: relative;
    z-index: 1;
  }

  &--horizontal {
    .tabs__menu {
      display: flex;

      .item {
        margin-right: 3px;
        padding: 0.625rem 2.5rem 1.425rem 2.5rem;
      }
    }

    .tabs__content {
      margin-top: -14px;
    }
  }

  &--vertical {
    display: flex;

    .tabs__menu {
      display: flex;
      flex-direction: column;
      flex: none;
      padding-bottom: 105px;

      .item {
        margin-bottom: 4px;
        padding: 0.625rem 3.25rem 0.625rem 2.5rem;
        text-align: center;
      }
    }

    .tabs__content {
      margin-left: -7px;
      width: 100%;
    }
  }
}
