.link {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  display: inline;

  .icon {
    margin-left: 0.125em;

    svg {
      display: inline-block;
      width: auto;
    }
  }

  &--strong {
    font-weight: 700;
  }
}
